.font {
    font: 16px 'Permanent Marker';
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav-header {
    max-width: 700px;
    width: 100%;
}

.nav-list {
    position: absolute;
    display: flex;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 100px 35px 15px 35px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #DB146D;
}

.main-section {
    background: 100% /cover no-repeat url("../img/header.jpg");
}

.main-section-img {
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section-header {
    max-width: 720px;
    width: 100%;
    margin-bottom: 90px;
}

.main-section-button, .lower-section-button {
    min-width: 180px;
    height: 35px;
    background: 100% /cover no-repeat url("../img/button.png");
    border: 0;
}

.main-section-link, .lower-section-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-top: 7px;
}

.main-section-link {
    color: #000000;
}

.wrapper {
    background: 100% /cover no-repeat url("../img/section.jpg");
}

.wrapper-container {
    max-width: 1300px;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 195px;
}

.photo-block {
    max-width: 500px;
    width: 100%;
}

.wrapper-header {
    max-width: 400px;
    width: 100%;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 10px;
}

.wrapper-header-about {
    display: block;
    color: #95a7ff;
}

.wrapper-header-main {
    display: block;
    color: #ffffff;
    font-size: 47px;
    padding: 10px 0 30px 0;
}

.wrapper-text, .collage-text {
    font-family: Calibri;
    line-height: 25px;
    font-size: 16px;
    color: #ffffff;
    text-transform: lowercase;
}

.collage {
    background: 100% /cover no-repeat url("../img/slider.jpg");
    min-height: 800px;
    display: flex;
    align-items: flex-end;
}

.collage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collage-header {
    font-size: 47px;
    color: #ffffff;
    padding-bottom: 30px;
}

.collage-text {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.collage-img {
    display: flex;
    transform: translateY(50%);
}

.photo {
    display: block;
    width: 100%;
    height: auto;
}

.lower-section {
    background: 100% /cover no-repeat url("../img/footer.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 800px;
}

.lower-section-head {
    font-size: 50px;
    color: rgba(240, 5, 1, 0.9);
    padding-bottom: 40px;
}

.lower-section-link {
    color: #DB146D;
    font-size: 18px;
    text-align: center;
}

.lower-section-link:hover {
    color: #000000;
}

.footer-text {
    text-align: center;
    color: darkgray;
    margin-top: 220px;
    margin-bottom: 80px;
}

.footer-text-block {
    display: block;
}

@media (max-width: 800px) and (min-width: 700px) {
    .wrapper-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 701px) and (min-width: 320px) {
    .nav-list {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        display: block;
        font-size: 17px;
        padding: 5px;
    }

    .wrapper-container {
        flex-direction: column;
        align-items: center;
    }
}